<div class="pagetitle mx-5 my-5" style="direction: rtl;">

</div>

<section class="section profile" >
  <div class="row ">

    <div class="col-xl-12 align-items-center col-md-6 col-sm-6 d-flex justify-content-center"
      style="margin-bottom: 100px;">

      <div class="card col-xl-8" style="direction: rtl;">
        <div class="card-body ">

          <ul class="nav nav-tabs custom-tabs">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview"
                (click)="GetProfile()">نظرة عامة</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings"  (click)="GetSubscribtion()">خططك & اشتراكاتك</button>
            </li>

            <li class="nav-item">
              <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-edit" >تعديل
                بياناتك</button>
            </li>


            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">تغيير كلمة
                السر</button>
            </li>

          </ul>

          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">

              <h2 class="card-title my-5" style="color:  #1C4980;font-weight: bold;"><i
                  class="fa-sharp fa-solid fa-circle-info ms-2" style="font-size: 25px;"></i>معلوماتك</h2>
              <div class="details-container">
                <div class="details-item my-4">
                  <span class="details-label" style="font-weight: bold;">الاسم :</span>
                  <span class="details-value">{{data?.fullName}}</span>
                </div>
                <div class="details-item my-4">
                  <span class="details-label_3" style="font-weight: bold;">اسم&nbsp;المستخدم :</span>
                  <span class="details-value">{{data?.userName}}</span>
                </div>
                <div class="details-item my-4">
                  <span class="details-label_3" style="font-weight: bold;">رقم التليفون :</span>
                  <span class="details-value">{{data?.phoneNumber}}</span>
                </div>
                <div class="details-item my-4">
                  <span class="details-label_3" style="font-weight: bold;"> البريد الالكتروني:</span>
                  <span class="details-value">{{data?.email}}</span>
                </div>
                <div class="details-item my-4">
                  <span class="details-label" style="font-weight: bold;">وزنك :</span>
                  <span class="details-value">{{data?.weight}} كجم</span>
                </div>
                <div class="details-item my-4">
                  <span class="details-label " style="font-weight: bold;">عمرك :</span>
                  <span class="details-value">{{ calculateAge(data?.birthDate) }} سنة</span>
                </div>
                <div class="details-item my-4">
                  <span class="details-label" style="font-weight: bold;">طولك :</span>
                  <span class="details-value">{{data?.height}} سم</span>
                </div>

                <div class="details-item my-4">
                  <span class=".details-label_2" style="font-weight: bold;">الحد الأدنى للسعرات الحراريه :</span>
                  <span class="details-value">{{data?.minCalories}} </span>
                </div>

                <div class="details-item my-4">
                  <span class=".details-label_2" style="font-weight: bold;">الحدالأقصي للسعرات الحراريه :</span>
                  <span class="details-value">{{data?.maxCalories}} </span>
                </div>

              </div>

            </div>



            <div class="tab-pane fade profile-settings" id="profile-settings" style="height: 90vh;">
              <h2 class="card-title my-5" style="color:  #1C4980;font-weight: bold;">
                <i class="fa-sharp fa-solid fa-flag ms-2"></i>اشتراكاتك
              </h2>
              <div class="row" *ngIf="isFound; else elseBlock">
                <div class="mb-3 col-md-6 col-12" *ngFor="let datas of plans">
                  <div class="card text-white mb-3 p-2" style="max-width: 25rem; height: 15rem; background-color: #1C4980;">
                    <div class="card-header mb-3" style="font-weight: bold; font-size: 13px;">خطتك</div>
                    <div class="card-body">
                      <h5 class="card-title mb-4" style="font-weight: 200px; font-size: 17px;">مدة الخطة &nbsp;  {{datas.duration}}</h5>
                      <h5 class="card-title mb-4" style="font-weight: 200px; font-size: 17px;">الهدف  &nbsp;  {{datas.goal}}</h5>
                      <p class="card-text mb-4" style="font-weight: 200px; font-size: 17px;">الدكتور &nbsp; {{datas.doctorName}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <div class="alert alert-success" dir="rtl">لا يوجد اشتركات حاليا </div>
              </ng-template>
            </div>
            


            <div class="tab-pane fade profile-edit" id="profile-edit">
              <h2 class="card-title" style="color:  #1C4980;font-weight: bold;"><i
                  class="fa-sharp fa-solid fa-user-pen ms-2"></i>تعديل بياناتك</h2>

                  <div *ngIf="showDone" class="confirmation-box">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      تم تغير بياناتك بنجاح 
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="hideConfirmation()"></button>
                    </div>
                  
               
                  </div>
              <form  >


                <div class="mb-3">
                  <label for="name" class="form-label">اسم كامل</label>
                  <div class="input-group">
                    <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                      <i class="fa-sharp fa-solid fa-signature"></i>
                    </span>
                    <input  [(ngModel)]="EditUser.FullName" type="text" class="form-control"  id="FullName" name="FullName"
                      placeholder="تعديل اسم كامل" value='{{data?.fullName}}' (ngModelChange)="onInputChange('FullName', $event)">
                  </div>


                  <div *ngIf="fullName?.errors != null && fullName?.touched">

                    <p class="text-danger" *ngIf="fullName?.errors?.['minlength']">
                      أدخل اسم المستخدم بحد أقل 5 أحرف.
                    </p>
                  </div>
                </div>


                <div class="mb-3">
                  <label for="diseases" class="form-label">اسم المرض</label>
                  <div class="input-group">
                    <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                      <i class="fa-sharp fa-solid fa-signature"></i>
                    </span>
                    <input type="text" class="form-control" name="diseases" id="diseases"  [(ngModel)]="EditUser.Diseases"
                      placeholder="تعديل اسم المرض" value='{{data?.diseases}}' (ngModelChange)="onInputChange('Diseases', $event)">
                  </div>
                </div>


                <div class="mb-3">
                  <label for="profileImage" class="form-label">صورتك</label>
                  <div class="input-group">
                    <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                      <i class="fa-sharp fa-solid fa-signature"></i>
                    </span>
                    <input type="file" class="form-control" id="profileImage" name="ProfileImage" [(ngModel)]="EditUser.ProfileImage"
                      placeholder="تعديل الصورة"  (ngModelChange)="onInputChange('ProfileImage', $event)"  (change)="changeImg($event)">
                  </div>


                  <div *ngIf="profileImage?.errors != null && profileImage?.touched">

                    <p class="text-danger" *ngIf="profileImage?.errors?.['required']">
                      أدخل صورتك.
                    </p>
                  </div>
                </div>


                <div class="mb-3">
                  <label for="activityRates" class="form-label">معدل نشاطك</label>
                  <div class="input-group">
                    <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                      <i class="fa-sharp fa-solid fa-signature"></i>
                    </span>
                    <input type="text" class="form-control"  name="ActivityRates" id="ActivityRates"  [(ngModel)]="EditUser.ActivityRates"
                      placeholder="تعديل معدل نشاطك" value='{{data?.activityRates}}' (ngModelChange)="onInputChange('ActivityRates', $event)">
                  </div>


                  <div *ngIf="activityRates?.errors != null && activityRates?.touched">

                    <p class="text-danger" *ngIf="activityRates?.errors?.['required']">
                      تعديل معدل نشاطك
                    </p>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">البريد الالكتروني</label>

                  <div class="input-group">
                    <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                      <i class="fa-sharp fa-solid fa-envelope"></i>
                    </span>
                    <input type="email" class="form-control" id="email"  name="Email"  [(ngModel)]="EditUser.Email"
                      placeholder="تعديل بريدك الالكتروني" value='{{data?.email}}' (ngModelChange)="onInputChange('Email', $event)">
                  </div>


                  <div *ngIf="fullName?.errors != null && fullName?.touched">

                    <p class="text-danger" *ngIf="fullName?.errors?.['email']">
                      ادخل الايميل بشكل صحيح Example@gmail.com
                    </p>
                  </div>

                </div>

                <div class="mb-3">
                  <label for="text" class="form-label">التليفون</label>

                  <div class="input-group">
                    <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                      <i class="fa-sharp fa-solid fa-phone-volume"></i>
                    </span>
                    <input type="text" class="form-control" id="phone" name="PhoneNumber"  [(ngModel)]="EditUser.PhoneNumber"
                      placeholder="تعديل رقم تليفونك" value='{{data?.phoneNumber}}' (ngModelChange)="onInputChange('PhoneNumber', $event)">
                  </div>
                  <div *ngIf="phoneNumber?.errors != null && phoneNumber?.touched">

                    <p class="text-danger" *ngIf="phoneNumber?.errors?.['pattern']">
                      أادخل الرقم بشكل صحيح
                    </p>
                  </div>
               </div>

                <div class="mb-3">
                  <label for="number" class="form-label">الوزن</label>

                  <div class="input-group">
                    <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                      <i class="fa-sharp fa-solid fa-scale-unbalanced-flip"></i>
                    </span>
                    <input type="text" class="form-control" id="weight" name="Weight"  [(ngModel)]="EditUser.Weight"
                      placeholder="تعديل وزنك" value='{{data?.weight}}' (ngModelChange)="onInputChange('Weight', $event)">
                  </div>
                </div>

                <div class="mb-3">
                  <label for="number" class="form-label">الطول</label>

                  <div class="input-group">
                    <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                      <i class="fa-sharp fa-solid fa-ruler"></i>
                    </span>
                    <input type="text" class="form-control" id="height"  [(ngModel)]="EditUser.Height" name="Height"
                      placeholder="تعديل طولك" value='{{data?.height}}'  (ngModelChange)="onInputChange('Height', $event)" >
                  </div>
                </div>


                <button type="submit" style="background-color: #1C4980;" class="btn btn-primary my-4" (click)="UpdateUSer()">حفظ
                  التغييرات</button>
              </form>
            </div>

            <div class="tab-pane fade profile-change-password" id="profile-change-password">
              <h2 class="card-title my-5" style="color:  #1C4980;font-weight: bold;"><i
                  class="fa-sharp fa-solid fa-pen-nib ms-2"></i>تغيير كلمة السر</h2>
                  <div *ngIf="showConfirmation" class="confirmation-box">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      تم تغير كلمه السر بنجاح 
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="hideConfirmation()"></button>
                    </div>
                  
               
                  </div>
              
              
              <form [formGroup]="PassForm" (ngSubmit)="onSubmitPass()">


                <div class="mb-3">
                  <label for="new-password" class="form-label">كلمة السر الجديدة</label>

                  <div class="input-group">
                    <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                      <i class="fa-sharp fa-solid fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" id="newpassword" formControlName="password"
                      placeholder="ادخل كلمة السر الجديدة">

                  </div>
                  <div *ngIf="newpassword?.touched && newpassword?.invalid">
                    <p *ngIf="newpassword?.errors?.['required']" class="text-danger">
                      برجاء ادخال كلمه السر
                    </p>
                    <p *ngIf="newpassword?.errors?.['minlength']" class="text-danger">
                      برجاء ادخال كلمه السر من حد ادني 8
                    </p>
                    <p *ngIf="newpassword?.errors?.['strong'] && newpassword?.dirty" class="text-danger">
                       كلمة المرور غير قوية، يجب أن تحتوي على رقم واحد على الأقل،
                         حروف  
                    </p>
                  </div>


                </div>

                <div class="mb-3">
                  <label for="confirm-password" class="form-label">تأكيد كلمة السر</label>

                  <div class="input-group">
                    <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                      <i class="fa-sharp fa-solid fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" id="confirmpassword" formControlName="confirmPassword"
                      placeholder="اعد كتابة كلمة السر">

                      
                  </div>
                  <div class="text-danger" *ngIf="PassForm.errors?.['misMatch']">
                    تأكيد كلمة السر غير متوافقة مع كلمة السر </div>

                  <div *ngIf="confirmpassword?.errors !=null && confirmpassword?.touched" class="mt-2">

                    <p *ngIf="confirmpassword?.errors?.['required']" class="text-danger">برجاء إدخال تأكيد كلمة السر</p>
                   
                  </div>
             
                </div>


                <button type="submit" style="background-color: #1C4980;" class="btn btn-primary my-4"
                  [disabled]="PassForm.invalid">تغيير</button>
              </form>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>