button{
    background-color: #0d1c9e;
    color: white;
    height: 8%;
    width: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  
  }
  .btn-group::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
  }
  
  .btn-group::-webkit-scrollbar-thumb {
    background-color: #888;
  }




  