<div class="row mt-4" style="text-align: center;">
  <h2 class="text-center fs-1" style="color:#0d1c9e; font-weight: bold;">أيام الخطة</h2>

</div>
<div class="btn-group row mx-2 mt-3 " style="overflow: auto; height: 82%;">

  <button *ngFor="let dayCustomPlan of data ; let i =index "
    routerLink="/doctor/dash/CustomPlanDayMeal/{{dayCustomPlan?.id}}" type="button"
    [ngClass]="{'bg-success':dayCustomPlan.id == currentDay.id,'bg-primary': dayCustomPlan.id != currentDay.id}"
    class="btn  col-1 mx-2 my-3">{{ i+1 }}</button>


</div>