  <div class="row col contain">
    <div class="    m-auto  mt-5">

        <h2 class="text-center fs-1">الوجبات </h2>
        <div class="col-md-5 col-12 m-auto">

            <div class="text-input d-flex " *ngFor="let breakFast of breakFast">

                <input type="text" id="input1" disabled placeholder="Try typing something in here!"
                [value]="breakFast?.description">
                <label class="input1" >فطار </label>
                <div class="col mx-4 ">
                    <button class="btn" routerLink="/doctor/dash/EditCustomMeal/{{planId}}/{{breakFast?.id}}">تعديل</button>
                </div>
            </div>

            <div class="text-input d-flex" *ngFor="let lunchData of Lunch">
                <input type="text" id="input1" disabled [value]="lunchData?.description">
                <label class="input1">&nbsp;&nbsp;غداء&nbsp;</label>
                <div class="col mx-4 ">
                    <button class="btn" routerLink="/doctor/dash/EditCustomMeal/{{planId}}/{{lunchData?.id}}">تعديل</button>
                </div>
            </div>


            <div class="text-input d-flex" *ngFor="let Dinner of Dinner">
                <input type="text" id="input1" disabled placeholder="Try typing something in here!"
                    [value]="Dinner?.description">
                <label class="input1">&nbsp;&nbsp;عشاء&nbsp;&nbsp;</label>
                <div class="col mx-4">
                    <button class="btn" routerLink="/doctor/dash/EditCustomMeal/{{planId}}/{{Dinner?.id}}">تعديل</button>
                </div>
            </div>

            <div class="text-input d-flex" *ngFor="let snaks of snaks">
                <input type="text" id="input1" disabled placeholder="Try typing something in here!"
                    [value]="snaks?.description">
                <label class="input1">&nbsp;&nbsp;سناك&nbsp;&nbsp;</label>
                <div class="col mx-4 ">
                    <button class="btn"  routerLink="/doctor/dash/EditCustomMeal/{{planId}}/{{snaks?.id}}">تعديل</button>
                </div>
            </div>




            <div class="text-input d-flex" *ngFor="let sohor of sohor">
                <input type="text" id="input1" disabled placeholder="Try typing something in here!"
                    [value]="sohor?.description">
                <label class="input1">&nbsp;&nbsp;سناك&nbsp;&nbsp;</label>
                <div class="col mx-4 ">
                    <button class="btn" routerLink="/doctor/dash/EditCustomMeal/{{planId}}/{{sohor?.id}}">تعديل</button>
                </div>
            </div>

        </div>

        <div class="row  mt-5 m-2" *ngIf="isNoted" >
          <form [formGroup]="DoctorNoteForm" (ngSubmit)="onSubmitDocNote()">

          <div class="input-group col-6 mt-5 mb-3 m-auto ">

              <input type="text" formControlName="text" class="form-control" placeholder="اترك ملاحظتك لممريض"
                  aria-label="Recipient's username" aria-describedby="basic-addon2">


              <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="AddDoctorNote()" type="submit">أضافة ملاحظة</button>
              </div>

              <div *ngIf="text?.touched && text?.invalid">
                <p *ngIf="text?.errors?.['required']" class="text-danger" dir="rtl">
                        برجاء ادخال الملاحظه قبل الضغط علي الزر
                </p>
                </div>
          </div>

        </form>

        <div *ngIf="showDone"  class="confirmation-box">
          <div class="alert alert-success alert-dismissible fade show" role="alert" dir="rtl">
                         سوف يصل هذا الرد الى المريض
            <button type="button" class="btn-close" data-bs-dismiss="alert"  aria-label="Close"></button>
          </div>
        </div>

      </div>


    </div>


</div>
