<div class="tab-pane profile-change-password h-100" id="profile-change-password">
    <h2 class="card-title my-5 text-center" style="color:  #1C4980;font-weight: bold;"> تغيير كلمة السر <i
            class="fa-sharp fa-solid fa-pen-nib ms-2"></i></h2>

            <div id="wronganswer"dir="rtl" class="alert alert-danger  align-items-center col-5 m-auto mb-2"  role="alert">
                <i class="bi m-2 fa-solid fa-triangle-exclamation flex-shrink-0 me-2" width="26" height="26" role="img" aria-label="Danger:"></i>
                <div >
                الأجابة غير صحيحة حاول مرة اخري 
                </div>
              </div>
              <div id="wrongname"dir="rtl" class="alert alert-danger  align-items-center col-5 m-auto mb-2"  role="alert">
                <i class="bi m-2 fa-solid fa-triangle-exclamation flex-shrink-0 me-2" width="26" height="26" role="img" aria-label="Danger:"></i>
                <div >
                اسم المستخدم غير صحيح 
                </div>
              </div>

    <div *ngIf="showConfirmation" class="confirmation-box ">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            تم تغير كلمه السر بنجاح
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                (click)="hideConfirmation()"></button>
        </div>
    </div>


    <form [formGroup]="PassForm" (ngSubmit)="onSubmitPass()">
        <div class="row">
            <div class="input-group col-10 m-auto mb-3">
                <input type="text" disabled dir="rtl" class="form-control"
                    placeholder="سيظهر السؤال عند ادخال الاسم الصحيح" aria-label="Recipient's username"
                    value="{{question}}" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn disabled btn-outline-danger" type="button">السؤال</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-group col-10 m-auto mb-3">
                <input type="text" class="form-control" dir="rtl" placeholder="ادخل اجابة السؤال"
                    aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="answer">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" disabled>الأجابة</button>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="input-group col-10 m-auto mb-4">

                <input type="password" dir="rtl" class="form-control" id="newpassword" formControlName="password"
                    placeholder="ادخل كلمة السر الجديدة">
                <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                    <i class="fa-sharp fa-solid fa-lock"></i>
                </span>
            </div>
            <div class="text-center" *ngIf="newpassword?.touched && newpassword?.invalid">
                <p *ngIf="newpassword?.errors?.['required']" class="text-danger">
                    برجاء ادخال كلمه السر
                </p>
                <p *ngIf="newpassword?.errors?.['minlength']" class="text-danger">
                    برجاء ادخال كلمه السر من حد ادني 8
                </p>
                <p *ngIf="newpassword?.errors?.['strong'] && newpassword?.dirty" class="text-danger">
                    كلمة المرور غير قوية، يجب أن تحتوي على رقم واحد على الأقل،
                    حروف
                </p>
            </div>


        </div>

        <div class="row">
            <button class="btn btn-success col-2 m-auto mb-2">تم</button>
        </div>






    </form>
</div>