<div class="row col-12 m-auto contain">

  <div class="card  " style="direction: rtl;">
    <div class="card-body ">

      <ul class="nav nav-tabs custom-tabs">

        <li class="nav-item">
          <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#profile-overview">نظرة عامة</button>
        </li>

        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings" (click)="GetSubscribtion()"> خطط & اشتركات المريض </button>
        </li>



      </ul>
      <div class="tab-content ">

        <div class="tab-pane fade show active profile-overview" id="profile-overview">
          <h2 class="card-title my-5" style="color:  #1C4980;font-weight: bold;">  <i class="fa-sharp fa-solid fa-circle-info ms-2" style="font-size: 25px;"></i>معلومات المريض
       </h2>
          <div class="details-container">
            <div class="details-item my-4">
              <span class="details-label" style="font-weight: bold;">الاسم :</span>
              <span class="details-value">{{data?.fullName}}</span>
            </div>
            <div class="details-item my-4">
              <span class="details-label_3" style="font-weight: bold;">رقم التليفون :</span>
              <span class="details-value">{{data?.phoneNumber}}</span>
            </div>
            <div class="details-item my-4">
              <span class="details-label_3" style="font-weight: bold;"> البريد الالكتروني:</span>
              <span class="details-value">{{data?.email}}</span>
            </div>
            <div class="details-item my-4">
              <span class="details-label" style="font-weight: bold;">وزنك :</span>
              <span class="details-value">{{data?.weight}} كجم</span>
            </div>
            <div class="details-item my-4">
              <span class="details-label " style="font-weight: bold;">عمرك :</span>
              <span class="details-value">{{ calculateAge(data?.birthDate) }} سنة</span>
            </div>
            <div class="details-item my-4">
              <span class="details-label" style="font-weight: bold;">طولك :</span>
              <span class="details-value">{{data?.height}} سم</span>
            </div>

            <div class="details-item my-4">
              <span class=".details-label_2" style="font-weight: bold;">الحد الأدنى للسعرات الحراريه :</span>
              <span class="details-value">{{data?.minCalories}} </span>
            </div>

            <div class="details-item my-4">
              <span class=".details-label_2" style="font-weight: bold;">الحدالأقصي للسعرات الحراريه :</span>
              <span class="details-value">{{data?.maxCalories}} </span>
            </div>
            <div class="details-item my-4">
              <span class=".details-label_2" style="font-weight: bold;">تاريخ الاشتراك :</span>
              <span class="details-value">{{data?.dateFrom|date:"MM-dd-yyyy HH:mm:ss"}} </span>
            </div>

            <div class="details-item my-4">
              <span class=".details-label_2" style="font-weight: bold;">الغاء الاشتراك</span>

                <span class="details-value me-2"><button type="button" (click)="Cancel(data?.id)" class="btn btn-danger">الغاء </button> </span>
            </div>

            <div *ngIf="showConfirmation" class="confirmation-box">
              <div class="alert alert-success alert-dismissible fade show" role="alert">
            تم الالغاء بنجاح 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="hideConfirmation()"></button>
              </div>
            </div>
          </div>
        </div>


        <div class="tab-pane fade profile-settings" id="profile-settings">
          <div class="col-12 d-flex">  
              <span class="card-title my-5 col-3" style="color:  #1C4980;font-weight: bold;"> <i class="fa-sharp fa-solid fa-flag ms-2"></i>اشتركات المريض </span>
           <div class="col-md-6  col-3"></div>
              <button class="btn btn-primary col-md-3 col-6 h-25 my-auto fs-md-3  " routerLink="/doctor/dash/Choose/{{PatientId}}" style="background-color: #1C4980;"> اختر خطة بشكل يدوى</button>
          </div>
      
          <div class="row"> 
            <div class="mb-3 col-md-4 col-12" *ngFor="let datas of this.plans; let i = index" (click)="NavigateToDays(datas.id)">
              <div class="card text-white mb-3 p-2" [ngClass]="{ 'green-background': i === 0 }"
                style="max-width: 25rem; height: 15rem; ">
                <div class="card-header mb-3" style="font-weight: bold; font-size: 20px;">خطتك</div>
                <div class="card-body">
                  <h5 class="card-title mb-4" style="font-weight: 200px; font-size: 17px;">مدة الخطة &nbsp; {{datas.duration}}</h5>
                  <h5 class="card-title mb-4" style="font-weight: 200px; font-size: 17px;">الهدف &nbsp; {{datas.goal}}</h5>
                  <p class="card-text mb-4" style="font-weight: 200px; font-size: 17px;">الدكتور &nbsp; {{datas.doctorName}}</p>
                </div>
              </div>
            </div>
            

          </div>


      </div>
    </div>
  </div>
