<div class="row mt-4" style="text-align: center;">
    <span class="fw-bold fs-4">الوجبات</span>
  </div>
  <div class="row ">
    <div class="col-9"></div>
    <button routerLink="/doctor/dash/AddMeal" class="btn btn-primary col-2 mb-3" >أضافة وجبة</button>
  
  
  </div>
  <div class="row my-3 mx-4 flex-wrap">
    <div class="card border-primary mx-2 mb-3 " style="max-width: 18rem; ">
      <div class="card-header">Meal 1</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <button class="btn">تفاصيل</button>
      </div>
    </div>
    <div class="card border-primary mx-2 " style="max-width: 18rem; ">
      <div class="card-header">Plan 1</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <button class="btn" routerLink="/dash/Plan">تفاصيل</button>
      </div>
    </div>
    
    <div class="card border-primary mx-2 " style="max-width: 18rem; ">
      <div class="card-header">Plan 1</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <button class="btn" routerLink="/dash/Plan">Details</button>
      </div>
    </div>
    
    <div class="card border-primary mx-2 " style="max-width: 18rem; ">
      <div class="card-header">Plan 1</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <button class="btn" routerLink="/dash/Plan">Details</button>
      </div>
    </div>
    
    <div class="card border-primary mx-2 " style="max-width: 18rem; ">
      <div class="card-header">Plan 1</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <button class="btn" routerLink="/dash/Plan">Details</button>
      </div>
    </div>
    
    <div class="card border-primary mx-2 " style="max-width: 18rem; ">
      <div class="card-header">Plan 1</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <button class="btn" routerLink="/dash/Plan">Details</button>
      </div>
    </div>
    
  </div>