
<div style="background-color:#40844e;height: 30px;color: rosybrown;font-weight: bold;">
    <button type="button" class="btn btn" style="margin-right:30px;width: 40px;height:auto;border-radius: 25px;border: 1px dashed white;color: white;margin-top: 3px;" (click)="changecurrentLang('en')" >EN</button>
    <button type="button" class="btn btn" style="margin-right:30px;border-radius: 25px;border: 1px dashed white;color: white;" (click)="changecurrentLang('ar')">AR</button>
</div>
<app-nav></app-nav>

<router-outlet></router-outlet>

<app-footer></app-footer>