<div class="fixed-paragraph" id="hideP" *ngIf="isPatient.value ==1">
  اعرف دكتورك

  <button class="btn btnB" (click)="ShowDoctors()">اعرف دكتورك</button>

</div>

<div class="landing">

  <div class="text">
    <div class="content">
      <div class="geeks"></div>

      <h2>
        <span>New Start with</span> <br />
        Doctor Diet.
      </h2>
      <p>
        مع دكتور دايت هتتشخص صح و الوصول لنتيجه المطلوبه و هتخس بشكل صحى فى اقل
        وقت بشكل منظم ومتابعة مستمرة
      </p>
    </div>
  </div>
</div>

<div class="portfolio paragraph  px-3 px-md-5" id="portfolio">
  <div class="row">

    <h1 style="font-size: 2rem; font-weight: bold; text-align: right; color: #000000;">
      <br>افتح الباب لحياة أكثر صحة: مرحبًا بك في بدايتك الجديدة<br>
    </h1>
    <p style="font-size: 1.8rem; text-align: right; color: #000000;">
      يمكنك تحقيق الصحة والعافية المثلى. لنبدأ هذه الرحلة معًا واكتشف أفضل نسخة من نفسك</p>

    <ul style="padding: 20px; text-align: right; color: #000000; list-style: none;">
      <li>فقدان الوزن<i class="fa-solid fa-diamond d-inline  mx-3" style="font-size: 1.571rem;"></i></li>
      <li>بناء العضلات<i class="fa-solid fa-diamond d-inline  mx-3" style="font-size: 1.571rem;"></i></li>
      <li>تناول طعامًا صحيًا<i class="fa-solid fa-diamond d-inline  mx-3" style="font-size: 1.571rem;"></i></li>
    </ul>

  </div>
</div>

<div class=" d-flex justify-content-center align-items-center mx-auto" style="background-color: #F2F2F2;">
  <div class="container">

    <div class="row ">
      <div class="col-md-4 col-12">
        <div class="profile-card-4 text-center">
          <div class="profile-content d-flex flex-column align-items-center">
            <img src="../../../../assets/loss.avif" class="img img-responsive">
            <div class="profile-name">
              <p>@johndoedesigner</p>
            </div>
            <div class="p-4 fs-4">خطط للتخسيس</div>
            <div class="row">
              <div class="col-4">
                <div class="profile-overview">
                  <p>الخطط</p>
                  <h4>1300</h4>
                </div>
              </div>
              <div class="col-4">
                <div class="profile-overview">
                  <p>المشتركين</p>
                  <h4>250</h4>
                </div>
              </div>
              <div class="col-4">
                <div class="profile-overview">
                  <p>الأطباء</p>
                  <h4>168</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 col-12">
        <div class="profile-card-4 text-center">
          <div class="profile-content d-flex flex-column align-items-center">
            <img src="../../../../assets/fit.avif" class="img img-responsive ">
            <div class="profile-name">
              <p>@johndoedesigner</p>
            </div>
            <div class="p-4 fs-4" >خطط تكوين العضلات </div>
            <div class="row">
              <div class="col-4">
                <div class="profile-overview">
                  <p>الخطط</p>
                  <h4>1300</h4>
                </div>
              </div>
              <div class="col-4">
                <div class="profile-overview">
                  <p>المشتركين</p>
                  <h4>250</h4>
                </div>
              </div>
              <div class="col-4">
                <div class="profile-overview">
                  <p>الأطباء</p>
                  <h4>168</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="profile-card-4 text-center">
          <div class="profile-content d-flex flex-column align-items-center">
            <img src="../../../../assets/thin.avif" class="img img-responsive">
            <div class="profile-name">
              <p>@johndoedesigner</p>
            </div>
            <div class="p-4 fs-4">خطط لزيادة الوزن</div>
            <div class="row">
              <div class="col-4">
                <div class="profile-overview">
                  <p>الخطط</p>
                  <h4>1300</h4>
                </div>
              </div>
              <div class="col-4">
                <div class="profile-overview">
                  <p>المشتركين</p>
                  <h4>250</h4>
                </div>
              </div>
              <div class="col-4">
                <div class="profile-overview">
                  <p>الأطباء</p>
                  <h4>168</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="row row-cols-1 row-cols-md-4 mx-3 g-3">
  
  <div class="col">
    <div class="card ">
 
          <img 
          style="height: 50vh;"
          loading="lazy"
          
          src="assets/p1.jpg" class="card-img-top "
           alt="..d." name="we1">
      
      <div class="card-footer" style="text-align:center;">
        <small class="text-muted mx-auto "  >من 80 كيلو الي 70 كيلو</small>
      </div>
    </div>
  </div>

<div class="col">
  <div class="card ">

        <img 
        loading="lazy"
        style="height: 50vh; "
        src="assets/p2.jpg" class="card-img-top "
         alt="...r" name="we">
    
    <div class="card-footer" style="text-align:center;">
      <small class="text-muted mx-auto">من 100 كيلو الي 75 كيلو</small>
    </div>
  </div>
</div>

<div class="col">
  <div class="card ">

        <img 
        loading="lazy"
        style="height: 50vh;"
        src="assets/p3.jpg" class="card-img-top "
         alt="...e" name="we">
    
    <div class="card-footer" style="text-align:center;">
      <small class="text-muted mx-auto">من 60 كيلو الي 50 كيلو</small>
    </div>
  </div>
</div>

<div class="col">
  <div class="card ">

        <img 
        loading="lazy"
        style="height: 50vh;"
        src="assets/p4.jpg" class="card-img-top "
         alt="...w4" name="w7">
    
    <div class="card-footer" style="text-align:center;">
      <small class="text-muted mx-auto">من 70 كيلو الي 66 كيلو</small>
    </div>
  </div>
</div>
</div> -->


<div class="row  paragraph" style="text-align: right;">


  <div class="col-md-12 py-5  p-5">
    <p class="">يوفر الموقع العديد من الخدمات والنصائح العملية والبرامج الغذائية المناسبة لكل فرد بناءً على حالته الصحية
      ومتطلباته الغذائية الفردية يتيح الموقع للمستخدمين إجراء تقييم شامل لحالتهم الصحية والغذائية ، وذلك من خلال الإجابة
      على بعض الأسئلة المتعلقة بنمط الحياة والغذاء والأمراض المزمنة والأدوية المستخدمة. كما يقدم الموقع خدمات الاستشارة
      الغذائية عبر الإنترنت مع أطباء متخصصين في التغذية والسمنة، ويمكن للمستخدمين الاستفسار عن أي مسألة تخص التغذية
      والسمنة والحصول على الإرشادات المناسبة والنصائح الغذائية المناسبة لحالتهم الصحية بشكل عام، يهدف الموقع إلى توعية
      الناس بأهمية التغذية الصحية والحفاظ على وزن صحي، ويعمل على تحسين جودة الحياة للأشخاص الذين يعانون من مشاكل الوزن
      والسمنة</p>
  </div>

</div>